<!DOCTYPE html>
<html lang="en">

<head>
    <!--Scripts & Links-->
    <script src="javascripts/scripts.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Done-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vessel Route Tracer</title>
</head>

<body>
    <nav id="navTop" class="navbar navbar-dark bg-dark">
        <h3 id="navTitle">
            <i class="material-icons" style="font-size:36px">directions_boat</i> Vessel Route Tracer</h3>
        <div id="info">
            <p>Timestamp:
                <span id="timestamp">2015-08-01 00:00:00</span>
            </p>
            <p>Number of ships displayed:
                <span id="shipNumber">0</span>
            </p>
        </div>
        <div id="controlls">
            <!-- <button onclick="resumeStream()" type="button" class="btn btn-success">Resume</button>
            <button onclick="pauseStream()" type="button" class="btn btn-warning">Pause</button> -->
            <div class="slidecontainer">
                <input type="range" min="10" max="1000" value="10" class="slider" id="mySlider" oninput="sliderValueRefresh(this)">
                <span>Value: </span>
                <span id="sliderValue">10</span>
            </div>
        </div>
    </nav>
    <div id="map"></div>
    <script>
        createMap();
        handleSocket();
        totalShipsDisplayed();
    </script>
    <main role="main">
        <div id="jumb1" class="jumbotron">
            <div class="container">
                <h3 class="display-5">Vessel Route Tracer</h3>
                <p class="lead">
                    <strong>Vessel Tracer</strong> is a web app that visualizes the routes of ships.</p>
                <hr class="my-4">
                <p class="lead">It allows you to view the route of ships from a dataset.</p>
            </div>
        </div>
        <div id="jumb2" class="jumbotron">
            <div class="container">
                <h3 class="display-5">Search</h3>
            </div>
            <form>
                <div class="form-group">
                    <label for="shipMMSI">Ship MMSI:</label>
                    <input type="text" class="form-control" placeholder="Enter MMSI">
                    <small class="form-text text-muted">Give ship's MMSI.</small>
                    <hr>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </main>
    <nav id="navBottom" class="navbar navbar-dark bg-dark">
        <p>Harokopeio Panepistimio | Vessel Tracer </p>
        <p>'Map data &copy;
            <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,
            <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery ©
            <a href="http://mapbox.com">Mapbox</a>'</p>
    </nav>
</body>

</html>