::-webkit-scrollbar {
  display: none;
}

body {
  color: aliceblue;
  background-color: #404040;
  font-family: 'Quattrocento Sans', sans-serif;
  position: relative;
}

.polylineStyle {
  stroke-width: 2;
  stroke-linecap: round;
  fill: none;
  opacity: 1;
}

#map {
  height: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: relative;
  border-bottom: groove #222222;
  border-top: groove #222222;
}

#startControl {
  float: right;
}

#startButton {
  margin-left: 10px;
}

#header {
  width: 100%;
  background-color: #222222;
  position: relative;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: #222222;
  text-align: center;
}

.container {
  background-color: #222222;
  border-radius: 15px;
  text-align: center;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container p {
  text-align: left;
}

#timestamp {
  width: 200px;
  color: #006899;
}

#shipNumber {
  color: #006899;
}

#info {
  border-right: ridge #343435;
}

.leaflet-mouse-position-control, .timestamp-on-map {
  opacity: 0.7;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 5px 5px;
  margin: 0;
  color: black;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-popup-content-wrapper {
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
}

.leaflet-popup-content-wrapper:hover {
  box-shadow: 0 0 5px black;
}

.leaflet-popup-content {
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
}
